.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.child {
    width: 290px;
    max-width: 90%; 
    min-height: 300px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border: solid;
    padding: 8px;
}

.col-md-12 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.bröd {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}